.EditOrganization {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.EditOrganization h3 {
    padding: 8px;
    /* background-color: rgba(200, 200, 200, 0.5); */
    border-bottom: 2px rgba(200, 200, 200, 0.8) solid;
    text-align: center;
}

.EditOrganization .mainRow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.EditOrganization .footerRow {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border-top: 1px silver solid;
}

.EditOrganization .footerRow .col2 {
    align-items: center;
}

.EditOrganization .editorColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.EditOrganization .previewColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.EditOrganization .editor,
.EditOrganization .preview {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.EditOrganization .row {
    flex: 0 0 auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    margin: 4px 0;
}

.EditOrganization .col1 {
    flex: 0 0 7em;
    font-weight: bold;
    text-align: left;
    /* color: rgba(100, 100, 100, 1); */
    /* border: 1px silver solid; */
}

.EditOrganization .col2 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    /* border: 1px silver solid; */
}

.EditOrganization .editor input {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.EditOrganization .editor textarea {
    flex: 1 1 0px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.EditOrganization .editor .footer {
    flex: 0 0 30px;
    text-align: center;
    padding: 6px;
}

.EditOrganization .editor .gravatarHash {
    height: 64px;
}

.EditOrganization .preview .id {
    font-family: monospace;
}

.EditOrganization .preview .description {
    padding: 8px;
    border: 1px rgba(200, 200, 200, 0.5) solid;
    /* border-radius: 8px; */
    flex: 1 1 0px;
    overflow-y: auto;
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5);
}

.EditOrganization .preview .gravatarHash {
    height: 64px;
}