.AvailableOrganization {
    /* border: 1px silver solid;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer; */
    display: flex;
    flex-direction: row;
}

.AvailableOrganization+.AvailableOrganization {
    /* margin-top: 4px; */
}

.AvailableOrganization-orgCol {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
}

.AvailableOrganization-relatedCol {
    flex: 0 0 1.5em;
    text-align: center;
}

.AvailableOrganization-actionCol {
    flex: 0 0 1.5em;
}

.AvailableOrganization-orgInfoCol {
    flex: 1 1 0px;
}

.AvailableOrganization-logoCol {
    flex: 0 0 20px;
    margin-right: 4px;
    overflow-y: hidden;
}

.AvailableOrganization-name {
    font-weight: bold;
}