.Header {
    flex: 0 0 40px;
    font-weight: bold;
    font-size: 100%;
    text-align: left;
    /* padding: 4px; */
    /* margin-bottom: 10px; */
    padding-left: 10px;
    background-color: rgba(200, 200, 200, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}