.User {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.User .avatarCol {
    flex: 0 0 auto;
    margin-right: 4px;
    padding-top: 4px;
}

.User .infoCol {
    flex: 1 1 0px;
}

.User .infoCol .name {
    font-size: 100%
}

.User .infoCol .location {}

.User .infoCol .organization {}