.ViewOrganization {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
}

.ViewOrganization > .mainColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.ViewOrganization > .infoColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.ViewOrganization > .table {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .row {
    flex: 0 0 auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    margin-bottom: 8px;
}

.ViewOrganization .col1 {
    flex: 0 0 12em;
    font-weight: bold;
    text-align: left;
    color: rgba(100, 100, 100, 1);
    /* border: 1px silver solid; */
}

.ViewOrganization .col2 {
    flex: 1 1 0px;
    /* border: 1px silver solid; */
}
/* .ViewOrganization .preview .id {
    font-family: monospace;
} */

.ViewOrganization .name {
    font-weight: bold;
    font-size: 110%;
}

.ViewOrganization .description {
    padding: 4px;
    border: 1px rgba(200, 200, 200, 1) solid;
    border-radius: 8px;
}