.ViewOrganization {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .mainRow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.ViewOrganization .mainRow>.mainColumn {
    flex: 2 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.ViewOrganization .mainRow>.infoColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.ViewOrganization form.table {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .table>.row {
    flex: 0 0 auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    margin-bottom: 8px;
}

.ViewOrganization .table.infoTable>.row {
    flex: 0 0 auto;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    margin-bottom: 8px;
}

.ViewOrganization .table.infoTable>.row>.col0 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .table.infoTable>.row>.col0>.ownerTable {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
}

.ViewOrganization .table.infoTable>.row>.col0>.ownerTable>.avatarCol {
    flex: 0 0 60px;
}

.ViewOrganization .table.infoTable>.row>.col0>.ownerTable>.proprietorCol {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.ViewOrganization .ownerTable .owner {
    font-weight: bold;
}

.ViewOrganization .table.infoTable>.row>.col1 {
    flex: 0 0 8em;
    font-weight: bold;
    text-align: left;
    color: rgba(100, 100, 100, 1);
}

.ViewOrganization .table.infoTable>.row>.col2 {}

.ViewOrganization .table>.row>.col1 {
    flex: 0 0 12em;
    font-weight: bold;
    text-align: left;
    color: rgba(100, 100, 100, 1);
    /* border: 1px silver solid; */
}

.ViewOrganization .table>.row>.col2 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    /* border: 1px silver solid; */
}

/* .ViewOrganization .preview .id {
    font-family: monospace;
} */

.ViewOrganization .name {
    font-weight: bold;
    font-size: 150%;
}

.ViewOrganization .description {
    padding: 8px;
    border: 1px rgba(200, 200, 200, 0.5) solid;
    /* border-radius: 8px; */
    flex: 1 1 0px;
    overflow-y: auto;
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5);
}

.ViewOrganization .infoBox {
    padding: 8px;
    /* border: 1px rgba(200, 200, 200, 1) solid; */
    /* border-radius: 8px; */
    border: 1px rgba(200, 200, 200, 0.5) solid;
}

.ViewOrganization .label {
    /* background-color: rgba(200, 200, 200, 0.5); */
    padding: 3px 3px 3px 0;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}

.ViewOrganization .org {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .org .nameAndLogo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ViewOrganization .org .nameAndLogo .avatar {
    flex: 0 0 64px;
    height: 64px;
}

.ViewOrganization .org .nameAndLogo .nameAndLink {
    flex: 1 1 0px;
    margin-left: 10px;
}