.ManageGroupRequests {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ManageGroupRequests .requestType {
    font-weight: bold;
    font-size: 120%;
}

.ManageGroupRequests .groupRequest {
    margin-bottom: 20px;
    padding: 4px;
    border: 1px rgba(150, 150, 150, 0.5) solid;
    box-shadow: 4px 4px 4px gray;
}

.ManageGroupRequests .requester {
    font-weight: bold;
    display: inline-block;
}

.ManageGroupRequests .createdAt {
    font-weight: bold;
}

.ManageGroupRequests .expiresAt {
    font-weight: bold;
}

.ManageGroupRequests .row {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
}

.ManageGroupRequests .row .pendingCol {
    flex: 1 1 0px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.ManageGroupRequests .row .historyCol {
    flex: 1 1 0px;
    margin-left: 10px;
}

.ManageGroupRequests .pendingCol .pendingRequests {
    flex: 1 1 0px;
    overflow-y: auto;
}

.ManageGroupRequests table.pendingRequestsTable {
    width: 100%;
}

.ManageGroupRequests table.pendingRequestsTable th {
    width: 7em;
    text-align: right;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
    padding-right: 4px;
}

.ManageGroupRequests table.pendingRequestsTable th,
.ManageGroupRequests table.pendingRequestsTable td {
    vertical-align: top;
}

.ManageGroupRequests h2 {
    text-align: center;
    margin-top: 20px;
}