/* @import './styles/bootstrap.css'; */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    /* font-size: 100%; */
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 100%;
}

button {
    font-size: 100%;
}

/* Common styles. */

.field-label {
    /* background-color: rgba(200, 200, 200, 0.5); */
    padding: 3px 3px 3px 0;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}

.field-value {
    padding: 3px 3px 3px 0;
    font-weight: bold;
    /* color: rgba(150, 150, 150, 1); */
}

/* antd overrides */

.ant-btn>.anticon+span,
.ant-btn>span+.anticon {
    margin-left: 2px
}

a:hover {
    text-decoration: underline;
}

.linkButton {
    padding: 4px;
    color: rgba(200, 200, 200, 1);
}

.linkButton:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.linkButton.pressed {
    background-color: rgba(200, 200, 200, 0.3);
}

.cardSectionHeader {
    margin: 8px 0 4px 0;
    /* padding: 3px 3px 3px 0; */
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}

/* help pop-ups */

.helpTitle {
    font-weight: bold;
    font-size: 120%;
}

.helpSectionTitle {
    font-weight: bold;
}

/* a simple, rounded-corner "card" - hoverable */

.SimpleCard {
    border: 1px rgba(200, 200, 200, 0.5) solid;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 4px;
    /* box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5); */
    /* padding: 4px; */
    margin: 0 4px 4px 4px;
    padding: 4px;
}

.SimpleCard+.SimpleCard {
    margin-top: 6px;
}

.SimpleCard:hover {
    border: 1px rgba(200, 200, 200, 0.8) solid;
    background-color: rgba(200, 200, 200, 0.4);
    margin-right: 4px;
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.8);
}

.SimpleCard .SimpleCard-hidden {
    display: none;
}

.SimpleCard:hover .SimpleCard-hidden {
    display: unset;
}

.kbCard {
    border: 1px rgba(200, 200, 200, 0.5) solid;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 4px;
    /* box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5); */
    /* padding: 4px; */
    margin: 10px 0 10px 0;
}

.kbCard-header {
    background-color: rgba(200, 200, 200, 0.5);
    padding: 4px;
}

.kbCard-body {
    padding: 4px;
}

.kbCard:hover {
    border: 1px rgba(200, 200, 200, 0.8) solid;
    background-color: rgba(200, 200, 200, 0.5)
        /* box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.8); */
}

/* Matching our own card above */

.slimCard.ant-card .ant-card-head {
    padding: 0 6px;
    min-height: unset;
}

.slimCard.ant-card .ant-card-head-title {
    padding: 6px 0;
}

.slimCard.ant-card .ant-card-extra {
    padding: 6px 0;
}

.slimCard.ant-card .ant-card-body {
    padding: 6px
}

.scrollable-flex-column {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
}

.scrollable-flex-row {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    min-height: 0;
    min-width: 0;
}

.IconButton-hover {
    padding: 3px;
    cursor: pointer;
}

.IconButton-hover:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

.IconButton-hover-pressed {
    padding: 3px;
    background-color: rgba(200, 200, 200, 1)
}

.IconButton-hover-pressed:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

.IconButton-hover.ant-dropdown-open {
    padding: 3px;
    background-color: rgba(200, 200, 200, 1)
}

.IconButton-hover.ant-dropdown-open:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

/* BUTTONS */

.ButtonSet {
    display: inline-block;
}

.ButtonSet .ButtonSet-button {
    display: inline-block;
}

.ButtonSet .ButtonSet-button+.ButtonSet-button {
    margin-left: 6px;
}

.Button-important.ant-btn {
    background-color: rgba(210, 255, 210, 0.5);
}

.Button-important.ant-btn:hover {
    background-color: rgba(210, 255, 210, 1);
    border-color: green;
    color: green;
}

/* */

.Message {
    font-style: italic;
    text-align: center;
}

.Organizations p {
    margin-bottom: 0;
}

.Organizations p+p {
    margin-top: 1em;
}

input.Lite.ant-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px rgba(200, 200, 200, 0.5) solid;
}

textarea.Lite.ant-input {
    border: none;
    border-radius: 0;
    border: 1px rgba(200, 200, 200, 0.5) solid;
}

.IconButton {
    padding: 3px;
    cursor: pointer;
}

.IconButton:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

.IconButton-pressed {
    padding: 3px;
    background-color: rgba(200, 200, 200, 1)
}

.IconButton-pressed:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

.IconButton.ant-dropdown-open {
    padding: 3px;
    background-color: rgba(200, 200, 200, 1)
}

.IconButton.ant-dropdown-open:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

.Col {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.Col-scrollable {}


.ant-tabs.FullHeightTabs {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}


.ant-tabs.FullHeightTabs>.ant-tabs-content-holder {
    flex: 1 1 0px !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 0;
}

.ant-tabs.FullHeightTabs>.ant-tabs-content-holder>.ant-tabs-content {
    flex: 1 1 0px !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 0;
}

.ant-tabs.FullHeightTabs>.ant-tabs-content>.ant-tabs-tabpane {
    flex: 1 1 0px !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 0;
}

/* NEW SUPPLEMENTAL STYLES */

a {
    background-color: initial;
    color: rgb(51, 122, 183);
    /* color: var(--ant-primary-color); */
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color .3s;
}