.AddApps {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.AddApps-row {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.AddApps-selectColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    min-height: 0;
}

.AddApps-addColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.AddApps-apps {
    flex: 1 1 0px;
    overflow-y: auto;
}

.AddApps h3 {
    text-align: center
}

.Hoverable:hover {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer;
}

.Hoverable-selected {
    background-color: rgba(200, 200, 200, 0.5);
}

.Hoverable-selected:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

.AddApps-app {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(200, 200, 200, 0.7);
}

.AddApps-app+.AddApps-app {
    margin-top: 5px;
}

.AddApps-app-statusColumn {
    flex: 0 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddApps-app-appColumn {
    flex: 1 1 0px;
}

.AddApps-searchBar {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.AddApps-searchInput {
    flex: 1 1 0px;
}

.AddApps-sortControl {
    flex: 0 0 auto;
}

.AddApps-selectionControls {
    text-align: center;
}

.AddApps-selectedApp {
    border: 1px silver solid;
    padding: 4px;
    margin-bottom: 10px;
}