.InviteUser {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.InviteUser h3 {
    border-bottom: 2px silver solid;
    text-align: center;
}

.InviteUser .row {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    /* margin-bottom: 20px; */
    margin-top: 10px;
}

.InviteUser .row .col1 {
    flex: 1 1 0px;
}

.InviteUser .row .col2 {
    flex: 2 1 0px;
}

.InviteUser .selectedUser .noSelection {
    text-align: center;
    font-style: italic;
    padding: 20px;
}

.InviteUser .firstCol {
    margin-right: 10px;
}

.InviteUser .lastCol {
    margin-left: 10px;
}

.InviteUser .invitationForm table {
    width: 100%;
    margin: 20px auto 20px auto;
}

.InviteUser .invitationForm table td:nth-child(1) {
    width: 8em;
}

.InviteUser .invitationForm textarea {
    width: 100%;
}

.InviteUser .selectedUser {
    padding: 8px;
    border: 1px rgba(200, 200, 200, 0.5) solid;
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 1);
}

.InviteUser .users {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.InviteUser .usersTable {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.InviteUser .usersTable .user.notInOrganization .name {
    font-weight: bold;
}

.InviteUser .usersTable .user.inOrganization .name {
    font-weight: normal;
    font-style: italic;
    color: rgba(100, 100, 100, 1)
}

.InviteUser .users .user {
    cursor: pointer;
    padding: 4px;
    margin: 0;
}

.InviteUser .users .user:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.InviteUser .footer {
    flex: 0 0 auto;
    min-height: 10px;
}

.InviteUser .searchBar {
    flex: 0 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.InviteUser .searchBar input {
    width: 20em;
    height: 100%;
    flex: 1 1 0px;
}

.InviteUser .searchBar .searchButton {
    height: 100%;
    padding: 4px;
    flex: 0 0 auto;
}