.RelatedOrganizations {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.RelatedOrganizations-toolbarRow {
    flex: 0 0 auto;
    margin-bottom: 10px;
}

.RelatedOrganizations-bodyRow {
    flex: 1 1 0px;
    overflow-y: auto;
}

.RelatedOrganizations-organizations {
    overflow-y: auto;
}

.RelatedOrganizations-orgRow {
    display: flex;
    flex-direction: row;
}

.RelatedOrganizations-orgCol {
    flex: 1 1 0px;
}

.RelatedOrganizations-controlCol {
    flex: 0 0 auto;
}