.Narrative {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row
}

.Narrative .iconCol {
    flex: 0 0 auto;
}

.Narrative .mainCol {
    flex: 1 1 0px;
}

.Narrative .controlCol {
    flex: 0 0 auto;
}

.Narrative .title {
    font-weight: bold;
}