.InboxRequest {}

.InboxRequest-requestHeaderRow {
    display: flex;
    flex-direction: row;
}

.InboxRequest-requestHeaderType {
    flex: 1 1 0px;
    font-weight: bold;
}

.InboxRequest-requestHeaderCreatedAt {
    flex: 1 1 0px;
    text-align: left;
}

.InboxRequest-requestHeaderExpireAt {
    flex: 1 1 0px;
    text-align: right;
}

.InboxRequest-requestType {
    flex: 1 1 0px;
    font-weight: bold;
}