.Error {}

.Error .ant-collapse-borderless>.ant-collapse-item {
    border-bottom: 0;
}

.Error table.errorTable {
    width: 100%;
}

.Error table.errorTable th {
    text-align: right;
    width: 10em;
}

.Error table.errorTable.td {}