.Member {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.Member-avatarCol {
    flex: 0 0 auto;
    margin-right: 4px;
    padding-top: 4px;
}

.Member-infoCol {
    flex: 1 1 0px;
}

.Member-name {
    font-size: 100%;
    font-weight: bold;
}

.Member-controlCol {
    flex: 0 0 auto;
}

.Member-location {}

.Member-organization {}

.Member-title {
    font-style: italic;
}