.User {
    display: flex;
    flex-direction: row;
}

.User .avatarCol {
    flex: 0 0 auto;
    margin-right: 4px;
    padding-top: 4px;
}

.User .infoCol {
    flex: 1 1 0px;
}

.User .controlCol {
    flex: 0 0 auto;
}

.User .infoCol .name {
    font-size: 100%;
    font-weight: bold;
}

.User .infoCol .location {}

.User .infoCol .organization {}

.linkButton {
    padding: 4px;
}

.linkButton:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.linkButton.pressed {
    background-color: rgba(200, 200, 200, 0.3);
}