/* @import './styles/bootstrap.css'; */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Oxygen', sans-serif;
    /* font-size: 100%; */
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

input {
    font-size: 100%;
}

button {
    font-size: 100%;
}

/* Common styles. */

.field-label {
    /* background-color: rgba(200, 200, 200, 0.5); */
    padding: 3px 3px 3px 0;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}

.field-value {
    padding: 3px 3px 3px 0;
    font-weight: bold;
    /* color: rgba(150, 150, 150, 1); */
}

/* antd overrides */

.ant-btn>.anticon+span,
.ant-btn>span+.anticon {
    margin-left: 2px
}

.slimCard.ant-card .ant-card-head {
    padding: 0 6px;
    min-height: unset;
}

.slimCard.ant-card .ant-card-head-title {
    padding: 6px 0;
}

.slimCard.ant-card .ant-card-extra {
    padding: 6px 0;
}

.slimCard.ant-card .ant-card-body {
    padding: 6px
}

a:hover {
    text-decoration: underline;
}

.linkButton {
    padding: 4px;
}

.linkButton:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.linkButton.pressed {
    background-color: rgba(200, 200, 200, 0.3);
}

.cardSectionHeader {
    margin: 8px 0 4px 0;
    /* padding: 3px 3px 3px 0; */
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}