.ViewOrganization {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .mainRow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.ViewOrganization .mainRow>.mainColumn {
    flex: 2 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.ViewOrganization .mainRow>.mainColumn>.orgRow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow {
    flex: 2 1 0px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow .narratives {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow .narrativesTable {
    /* border: 1px silver solid; */
    padding: 4px;
    margin: 0 0 10px 0;
    flex: 1 1 0px;
    overflow-y: auto;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow .narrativesTable .narrative {
    border: 1px rgba(150, 150, 150, 0.5) solid;
    padding: 4px;
    margin: 0 0 10px 0;
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow .narrativesTable .narrative .dataCol {
    flex: 1 1 0px;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow .narrativesTable .narrative .buttonCol {
    flex: 0 0 auto;
}

.ViewOrganization .mainRow>.mainColumn>.narrativesRow .narrativesTable .narrative .title {
    font-weight: bold;
}

.ViewOrganization .mainRow>.infoColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    /* overflow-y: auto; */
}

.ViewOrganization .infoTable {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .infoTable>.row {
    flex: 1 1 0px;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    margin-bottom: 8px;
}

.ViewOrganization .infoTable>.row>.col0 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .ownerTable {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.ViewOrganization .ownerTable>.avatarCol {
    flex: 0 0 60px;
}

.ViewOrganization .ownerTable>.proprietorCol {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.ViewOrganization .ownerTable .owner {
    font-weight: bold;
}

.ViewOrganization .infoTable>.row>.col1 {
    flex: 0 0 8em;
    font-weight: bold;
    text-align: left;
    color: rgba(100, 100, 100, 1);
}

.ViewOrganization .infoTable>.row>.col2 {}

.ViewOrganization .table>.row>.col1 {
    flex: 0 0 12em;
    font-weight: bold;
    text-align: left;
    color: rgba(100, 100, 100, 1);
    /* border: 1px silver solid; */
}

.ViewOrganization .table>.row>.col2 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    /* border: 1px silver solid; */
}

/* .ViewOrganization .preview .id {
    font-family: monospace;
} */

.ViewOrganization .name {
    font-weight: bold;
    font-size: 150%;
}

.ViewOrganization .description {
    padding: 8px;
    border: 1px rgba(200, 200, 200, 0.5) solid;
    /* border-radius: 8px; */
    flex: 1 1 0px;
    overflow-y: auto;
    /* box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5); */
}

.ViewOrganization .adminTasksBox {
    margin-bottom: 20px;
}

.ViewOrganization .infoBox {
    margin-bottom: 20px;
}

.ViewOrganization .membersBox {
    /* margin-bottom: 20px; */
}

/* .ViewOrganization .relationRequestPending {
    border: 2px orange solid;
}

.ViewOrganization .relationInvitationPending {
    border: 2px orange solid;
} */

.ViewOrganization .label {
    /* background-color: rgba(200, 200, 200, 0.5); */
    padding: 3px 3px 3px 0;
    font-weight: bold;
    color: rgba(150, 150, 150, 1);
}

.ViewOrganization .org {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .org .nameAndLogo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ViewOrganization .org .nameAndLogo .avatar {
    flex: 0 0 64px;
    height: 64px;
}

.ViewOrganization .org .nameAndLogo .nameAndLink {
    flex: 1 1 0px;
    margin-left: 10px;
}

.ViewOrganization .member {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.ViewOrganization .member .avatarCol {
    flex: '0 0 auto';
    margin-right: 4px;
}

.ViewOrganization .member .infoCol {
    flex: '1 1 0px'
}

.ViewOrganization .member .infoCol .name {
    font-size: 100%
}

.ViewOrganization .member .infoCol .location {}

.ViewOrganization .member .infoCol .org {}

.ViewOrganization .ant-card .ant-card-head {
    padding: 0 6px;
}

.ViewOrganization .ant-card .ant-card-head .anticon {
    margin-right: 4px;
}

.membersCard.ant-card .ant-card-body {
    max-height: 400px;
    overflow-y: auto;
}

/*
    To make the narratives card scrollable when stretched to bottom of viewport
    For some browsers - FF specifically - but actually makes this usage compliant
    to css.
*/

.narrativesCard.ant-card .ant-card-body {
    min-height: 0;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganization .titleCount {
    color: rgba(200, 200, 200, 1);
    margin-left: 4px;
}

.ViewOrganization .message {
    text-align: center;
    font-style: italic;
}