.ViewOrganizationMembers {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.ViewOrganizationMembers-header {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.ViewOrganizationMembers-body {
    flex: 1 1 0px;
    overflow-y: auto;
}

.ViewOrganization .infoTable>.row {
    flex: 0 0 auto;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    /* height: 30px; */
    margin-bottom: 8px;
}

.ViewOrganization .infoTable>.row>.col0 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.Members-row {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.Members-member {
    flex: 1 1 0px;
}

.Members-menu {
    flex: 0 0 2em;
}

.ViewOrganizationMembers-headerRow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.ViewOrganizationMembers-searchCol {
    flex: 1 1 0px;
}

.ViewOrganizationMembers-sortCol {
    flex: 0 0 auto;
}

.simpleCard.Members-newMember {
    border: 1px red solid;
}