.Organizations {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* overflow-y: auto; */
}

.Organizations .row {
    flex: 0 0 auto;
    /* border: 1px silver dashed; */
    /* border-bottom: 1px rgba(200, 200, 200, 0.8) solid; */
    padding: 4px;
    margin: 4px 0 4px;
    display: flex;
    flex-direction: row;
}

.Organizations .row:hover {
    background-color: rgba(200, 200, 200, 0.5)
}

.Organizations .row>.col1 {
    flex: 1 1 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.Organizations .row>.col2 {
    flex: 0 0 64px;
}

.Organizations .organizationCard {
    /* border: 1px silver solid; */
    border-radius: 4px;
    padding: 4px;
    border-bottom: 1px rgba(200, 200, 200, 0.5) solid;
}

.Organizations .orgName {
    font-weight: bold;
    font-size: 120%;
    cursor: pointer;
}

.Organizations .orgOwner {}

.Organizations .infoTable {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.Organizations .infoTable .infoTableRow {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

.Organizations .infoTable .infoTableRow .infoTableCol1 {
    flex: 0 0 7em;
    text-align: right;
}

.Organizations .infoTable .infoTableRow .infoTableCol2 {
    flex: 0 0 30em;
}