.Narrative {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row
}

.Narrative .iconCol {
    flex: 0 0 auto;
}

.Narrative .mainCol {
    flex: 1 1 0px;
}

.Narrative .controlCol {
    flex: 0 0 auto;
}

.Narrative-title {
    display: inline;
    font-weight: bold;
}

.Narrative-owner {
    display: inline;
    font-size: 90%;
}

.Narrative-attributes {
    display: flex;
    flex-direction: row;
}

.Narrative-userPermission {
    flex: 0 0 1.5em;
}

.Narrative-global {
    flex: 0 0 1.5em;
}