.Notifications {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* max-height: 30em; */
    overflow-y: auto;
}

.Notifications>.Notifications-Header {
    flex: 0 0 auto;
}

.Notifications>.Notifications-Body {
    flex: 1 1 0px;
    display: block;
    overflow-y: auto;
}

.Notifications .message {
    font-style: italic;
    color: gray;
    text-align: center;
}

.Notifications .notification {
    /* border: 1px rgba(200, 200, 200, 0.5) solid; */
    /* background-color: rgba(200, 200, 200, 0.3); */
    /* padding: 4px; */
    /* border-radius: 4px; */
    display: flex;
    flex-direction: row;
}

.Notifications .notification .mainCol {
    flex: 1 1 0px;
}

.Notifications .notification .actionCol {
    flex: 0 0 auto;
}

/* .Notifications .notification:hover {
    background-color: rgba(200, 200, 200, 0.5);
} */

.Notifications .notification+.notification {
    margin-top: 10px;
}