.OutboxRequest {}

.OutboxRequest-requestHeaderRow {
    display: flex;
    flex-direction: row;
}

.OutboxRequest-requestHeaderType {
    flex: 1 1 0px;
    font-weight: bold;
}

.OutboxRequest-requestHeaderCreatedAt {
    flex: 1 1 0px;
    text-align: left;
}

.OutboxRequest-requestHeaderExpireAt {
    flex: 1 1 0px;
    text-align: right;
}

.OutboxRequest-requestType {
    flex: 1 1 0px;
    font-weight: bold;
}