.EditOrganization {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.EditOrganization h3 {
    padding: 8px;
    border-bottom: 2px rgba(200, 200, 200, 0.8) solid;
    text-align: center;
}

/* New editor layout */

.EditOrganization-editor {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

/* Top level grid */

.EditOrganization-body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.EditOrganization-row {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.EditOrganization-col1 {
    flex: 0 0 10em;
    margin-right: 5px;
}

.EditOrganization-col2 {
    flex: 1 1 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.EditOrganization-col3 {
    flex: 1 1 0px;
    margin-left: 5px;
}

/* Form rows */

.EditOrganization-formLabel {
    flex: 0 0 10em;
    font-weight: bold;
    text-align: left;
}

.EditOrganization-formControl {
    flex: 1 1 0px;
}

/* individual fields */

.EditOrganization-preview-name {}

.EditOrganization-preview-researchInterests {
    overflow-y: scroll;
}

.EditOrganization-control-researchInterests {
    min-height: 5em;
    max-height: 5em;
}

.EditOrganization-control-description {
    min-height: 5em;
    max-height: 15em;
}

.EditOrganization-preview-description {
    overflow-y: scroll;
}

/* new editor layout ends */

.EditOrganization .mainRow {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.EditOrganization .footerRow {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    border-top: 1px silver solid;
}

.EditOrganization .footerRow .col2 {
    align-items: center;
}

.EditOrganization .editorColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.EditOrganization .previewColumn {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.EditOrganization .editor,
.EditOrganization .preview {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.EditOrganization .row {
    flex: 0 0 auto;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    margin: 4px 0;
}

.EditOrganization .col1 {
    flex: 0 0 7em;
    font-weight: bold;
    text-align: left;
}

.EditOrganization .col2 {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.EditOrganization .editor input {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.EditOrganization .editor textarea {
    flex: 1 1 0px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.EditOrganization .editor .footer {
    flex: 0 0 30px;
    text-align: center;
    padding: 6px;
}

.EditOrganization .editor .gravatarHash {
    height: 64px;
}

.EditOrganization .preview .id {
    font-family: monospace;
}

.EditOrganization .preview .description {
    padding: 8px;
    border: 1px rgba(200, 200, 200, 0.5) solid;
    flex: 1 1 0px;
    overflow-y: auto;
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.5);
}

.EditOrganization .preview .gravatarHash {
    height: 64px;
}

.EditOrganization .ant-checkbox-wrapper.validation-ok {
    border-bottom: 1px transparent solid;
}

.EditOrganization .validation-error {
    border-bottom: 1px red solid;
}

.EditOrganization .sync-dirty {
    border-bottom: 1px orange solid;
}

.EditOrganization-main {
    flex: 1 1 0px;
    min-width: 50em;
    max-width: 100em;
    margin: 0 auto;
}