.RequestNarrative {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.RequestNarrative-body {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.RequestNarrative-selectNarrativeCol {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.RequestNarrative-selectedNarrativeCol {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.RequestNarrative-selectNarrativeCol .RequestNarrative-narrativeSelector {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.RequestNarrative-control {
    flex: 0 0 auto;
}

.RequestNarrative-narrativeSelector .RequestNarrative-narratives {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.RequestNarrative-narrativeSelector .RequestNarrative-narratives .RequestNarrative-narrativesTable {
    overflow-y: auto;
}

.RequestNarrative-footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    justify-content: center;
}

.RequestNarrative-narrativesTable .RequestNarrative-narrativeCell.RequestNarrative-narrativeInOrg {
    font-weight: normal;
    font-style: italic;
    color: rgba(100, 100, 100, 1)
}

.RequestNarrative-narrativesTable .RequestNarrative-narrativeCell.RequestNarrative-selected {
    background-color: rgba(200, 200, 200, 0.5);
}

.RequestNarrative-narrativeCell {
    /* border: 1px red solid; */
    /* font-weight: bold; */
    padding: 4px;
    border: 1px rgba(200, 200, 200, 0.3) solid;
    display: flex;
    flex-direction: row;
}

.RequestNarrative-narrativeCell+.RequestNarrative-narrativeCell {
    /* border: 1px red solid; */
    /* margin-top: 10px; */
}

/* .RequestNarrative-narrativeCell.RequestNarrativeCell-narrativeInOrg:hover,
.RequestNarrative-narrativeCell.RequestNarrativeCell-narrativeNotInOrg:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
} */

.RequestNarrative-narrativeCell:hover {
    background-color: rgba(200, 200, 200, 0.5);
    cursor: pointer;
}

.RequestNarrative-selectedNarrative {
    border: 1px silver solid;
    padding: 4px;
}

.RequestNarrative-title {
    font-weight: bold;
}

.RequestNarrative-selectedNarrativeButtonBar {
    margin-top: 10px;
    text-align: center
}

.RequestNarrative h3 {
    text-align: center;
}

.RequestNarrative-searchBar {
    display: flex;
    flex-direction: row;
}

.RequestNarrative-feedbackBar {
    flex: 0 0 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.RequestNarrative-searchBar input {
    width: 100%;
    max-width: 16em;
    min-width: 12em;
}

.RequestNarrative-searchBar .RequestNarrative-button {
    padding: 0 4px;
}

.RequestNarrative-filterSortBar {
    /* text-align: right; */
    margin-left: 10px;
}

.RequestNarrative-narrativeFlag {
    flex: 0 0 1.5em;
}

.RequestNarrative-narrative {
    flex: 1 1 0px;
}